.projects {
  padding: 0;
}

.projects .mainContainer {
  border-radius: 8px;
}

.projects .mainContainer .projectContainer {
  height: 600px;
  padding: 50px 0;
  overflow: hidden;
}

.projects .mainContainer .projectContainer .nextHeading {
  opacity: 0;
  -webkit-animation: opacity 0.2s linear 0s forwards;
          animation: opacity 0.2s linear 0s forwards;
}

.projects .mainContainer .projectContainer .nextText {
  opacity: 0;
  -webkit-animation: opacity 0.2s linear 0.2s forwards;
          animation: opacity 0.2s linear 0.2s forwards;
}

.projects .mainContainer .projectContainer .nextVisit {
  opacity: 0;
  -webkit-animation: opacity 0.2s linear 0.4s forwards;
          animation: opacity 0.2s linear 0.4s forwards;
}

.projects .mainContainer .projectContainer .prevHeading {
  -webkit-animation: translate 0.2s linear 0s forwards;
          animation: translate 0.2s linear 0s forwards;
}

.projects .mainContainer .projectContainer .prevText {
  -webkit-animation: translate 0.2s linear 0.2s forwards;
          animation: translate 0.2s linear 0.2s forwards;
}

.projects .mainContainer .projectContainer .prevVisit {
  -webkit-animation: translate 0.2s linear 0.4s forwards;
          animation: translate 0.2s linear 0.4s forwards;
}

.projects .mainContainer .projectContainer h3 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 4rem;
}

.projects .mainContainer .projectContainer .logos {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.projects .mainContainer .projectContainer .logos .logo {
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.projects .mainContainer .projectContainer .logos .logo svg {
  width: 100%;
}

.projects .mainContainer .projectContainer .logos .logo.logoNotSelected {
  -webkit-filter: contrast(0.2);
          filter: contrast(0.2);
}

.projects .mainContainer .projectInfo {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0;
  color: #041932;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  overflow: scroll;
}

.projects .mainContainer .projectInfo p {
  padding: 10px;
  font-size: 1em;
}

.projects .mainContainer .projectInfo a {
  text-decoration: none;
  color: #7b40f2;
  text-transform: uppercase;
  font-weight: bold;
}

.projects .mainContainer .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 500px;
}

.projects .mainContainer .buttons .preview button {
  height: 10px;
  width: 5px;
  margin: 10px;
  border-radius: 8px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid lightgrey;
}

.projects .mainContainer .buttons .preview button:hover svg {
  background: -webkit-gradient(linear, left top, left bottom, from(#b384ec), to(white));
  background: linear-gradient(#b384ec, white);
}

.projects .mainContainer .notSelected {
  background: #f8f6ff;
}

.projects .mainContainer .selected {
  background: #7b40f2;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes translate {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    opacity: 0;
  }
}

@keyframes translate {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    opacity: 0;
  }
}
/*# sourceMappingURL=project.css.map */