@import '../variables/colors/_colors.scss';

.projects {
  padding: 0;
  .mainContainer {
  border-radius: 8px;
.projectContainer {
  height: 600px;
  padding: 50px 0;
  overflow: hidden;
  .nextHeading {
    opacity: 0;
    animation: opacity 0.2s linear 0s forwards;
  }
  .nextText {
    opacity: 0;
    animation: opacity 0.2s linear 0.2s forwards;
  }
  .nextVisit {
    opacity: 0;
    animation: opacity 0.2s linear 0.4s forwards;
  }
  .prevHeading {
    animation: translate 0.2s linear 0s forwards;
  }
  .prevText {
    animation: translate 0.2s linear 0.2s forwards;
  }
  .prevVisit {
    animation: translate 0.2s linear 0.4s forwards;
  }
  h3 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 4rem;
  }
  .logos {
    transition: all 0.6s;
    .logo {
      height: 250px;
      display: flex;
      align-self: center;
      transition: all 0.3s;
      svg {
        width: 100%;
      }
      &.logoNotSelected {
        filter: contrast(0.2);
      }
    }
  }
}
.projectInfo {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0;
  color: $dark-color;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: scroll;
  p {
    padding: 10px;
    font-size: 1em;
  }
  a {
    text-decoration: none;
    color: $secondary-color;
    text-transform: uppercase;
    font-weight: bold;
  }

}
.buttons {
  display: flex;
  align-items: center;
  height: 500px;
  .preview {
    button {
    height: 10px;
    width: 5px;
    margin: 10px;
    border-radius: 8px;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgrey;
    &:hover svg {
      background: $background-color;
    }
  }
}
}
  .notSelected {
    background: $light-color;
  }
  .selected {
    background: $secondary-color;
  }
}
}

@keyframes opacity {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes translate {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(-30px);
    opacity: 0;
  }
}