/* ANIMATION OF GREETING */
.animation h1::before {
  content: '';
  width: 0%;
  height: 60px;
  background-color: var(--background-color);
  position: absolute;
  bottom: -10px;
  animation: 1s underline ease-in-out forwards 2s;
  mix-blend-mode: screen;
}

.overlay {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  opacity: 0;
  left: 0;
  right: 0;
  background-color: var(--background-color);
  transform: scale(.5);
  animation: .1s slideIn ease-in-out forwards, 1s skewBg ease-in-out;
}

@keyframes skewBg {
0% {
  transform: scale(.5);
}
100% {
  transform: scale(1);
}
}

@keyframes underline {
100% {
  width: 100%;
}
}

@keyframes slideIn {
100% {
  transform: translateY(0px);
  opacity: 1;
}
}

/* EXPERIENCE ANIMATION */
.firstBox::before,
.secondBox::before,
.thirdBox::before,
.next::before {
box-sizing: inherit;
background-color: var(--secondary-color);
content: '';
position: absolute;
width: 20px;
height: 20px;
border-radius: 50%;
opacity: 0;
animation-name: opacity-balls;
animation-duration: 1s;
animation-fill-mode: forwards;
}
.firstBox::after,
.secondBox::after,
.thirdBox::after,
.next::after {
  box-sizing: inherit;
  position: absolute;
  color: var(--secondary-color);
  left: 5%;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: opacity-balls;
  opacity: 0;
}
.profPath::after {
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  opacity: 0;
}
.firstBox::after {
  content: 'Technofuture TIC';
  animation-delay: 0s;
}
.secondBox::after {
  content: 'BeCode';
  animation-delay: 1.2s;
}
.thirdBox::after {
  content: 'Blooming riders';
  animation-delay: 2.5s;

}
.next::after {
  content: '';
  animation-delay: 3.5s;
}

@media (min-width: 801px) {
  .profPath::after {
    border-top: 4px solid var(--secondary-color);
    animation-name: border-top;
  }
  @keyframes border-top {
    0%{
      width: 0;
      height: 0;
      opacity: 1;
    }
    50%{
    width: 100%;
    height: 0;
    }
    100% {
      width: 100%;
      height: 100%;
      opacity: 1;
      border-left-color: var(--secondary-color);
    }
  }
  .firstBox::before,
  .secondBox::before,
  .thirdBox::before,
  .next::before {
  top: -28px;
  left: -10px;
  }
  .firstBox::after,
  .secondBox::after,
  .thirdBox::after,
  .next::after {
    top: -55px;
  }
}
.firstBox::before {
    animation-delay: 0s;
}
.secondBox::before {
    animation-delay: 1.2s;
}
.thirdBox::before {
    animation-delay: 2.5s;
}
.next::before {
    animation-delay: 3.5s;
}

@media (max-width: 800px) {
  .profPath::after {
    border-left: 4px solid var(--secondary-color);
    animation-name: border-left;
  }
  
    @keyframes border-left {
      0%{
        width: 0;
        height: 0;
        opacity: 1;
      }
      50%{
      width: 100%;
      height: 0;
      }
      100% {
        width: 100%;
        height: 100%;
        opacity: 1;
        border-left-color: var(--secondary-color);
      }
    }
    .firstBox::before,
    .secondBox::before,
    .thirdBox::before,
    .next::before {
    top: -20px;
    left: -18px;
  }
  .firstBox::after,
  .secondBox::after,
  .thirdBox::after,
  .next::after {
    top: -30px;
  }
}

@keyframes  opacity-balls {
    0%{
      opacity: 0;
    }
    100% {
    opacity: 1;
    }
  }

/* ANIMATION OF BUTTON IN PROJECTS */
.projectInfo button::after{
  background-color: var(--secondary-color);
  border-radius: 8px;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: .3s transform ease-out;
  will-change: transform;
  z-index: -1;
}
  
.projectInfo button:hover::after{ 
  transform: translate(0, 0)
}
  
.projectInfo button:hover{
  border: 2px solid transparent;
  transform: scale(1.05);
  will-change: transform;
  }
  .projectInfo button:hover a {
    color: var(--dark-color);
  }

  /* ANIMATION OF SKILLS */
  .skills ul li  {
    animation-name: skills;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
  @keyframes  skills {
    0%{
      color: var(--background-color);
    }
    100% {
      color: var(--light-color);
    }
  }

  #Layer_1 {
    animation: change_fill 5s;
  }
  @keyframes change_fill {
    0% {fill: var(--background-color);}
    100% {fill: var(--secondary-color);}
  }