@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import './variables/colors/_colors.scss';

.logo-container {
  text-align: center;
}

body {
  position: relative;
}

h2, h1 {
  letter-spacing: 1px;
  font-weight: 200;
}

header {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 100;
  transition: all .2s;
  &.active {
    background-color: $black-color;
    backdrop-filter: blur(10px);
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
    padding-left: 30px;
    .navigation {
      display: flex;
      align-items: center;
      transition: all .3s;
       a {
        color: $light-color;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 200;
        margin: 0 15px;
        letter-spacing: 1px;
        text-decoration: none;
        transition: all .2s;
        // &.active-link{
        //   color: $light-color;
        //   text-shadow: 2px 2px 2px rgba(000, 000, 000, .8);
        // }
        &:hover {
          color: $rose-color
        }
      }
    }
  }
}

section {
  margin-top: 30px;
}


button {
  color: $light-color;
  background: none;
  border: none;
  cursor: pointer;
  margin: 10px 0;
  font-size: 1rem;
  border-right: 1px solid $light-color;
  &:last-child {
    border-right: none;
  }
  &:focus{
    outline: none;
  }
  &:hover,
  .contact a:hover,
  .Navigation a:hover {
  color: $rose-color;
}
&.activeLangue {
  color: $rose-color;
}
}

.about{
  margin-top: 100px;
} 
.about,
.projects,
.education {
  position: relative;
}

.svgContainer-mobile {
 position: absolute;
 top: -15%;
 right: 5%;
}
.svgContainer-mobile .logoAnimated {
  width: 70px;
  z-index: 100;
 }

.skills {
  margin-top: 4rem;
}

.skills ul li {
  color: $background-color;
}
.about ul {
  list-style-type: none;
  display: flex;
  width: 40%;
  padding-left: 0;
}
.about ul li {
  margin: 5px 10px;
  font-size: 2rem;
  font-weight: bold;
  color: $light-color;
}
.col-10 {
  border-left: 2px solid $complimentary-color;
  // min-height: 100vh;
  padding: 0 20px;
}

.absolute{
  position: absolute;
  right: -5%;
  bottom: 0;
}
.img{
  width: 65%;
  z-index: 15;
  filter: drop-shadow(2px 4px 6px $dark-color);
  // mix-blend-mode: luminosity;
  opacity: .9;
}

.animation {
  margin-top: 1em;
  margin-left: -80px;
  position: relative;
  background-color: transparent;
  text-transform: uppercase;
}

.animation h1 {
  font-size: 3.5em;
  margin: 0;
  color: $secondary-color;
  transform: translateY(-600px);
  animation: 1.2s slideIn ease-in-out forwards 1s;
  z-index: 10;
  opacity: 0;
  position: relative;
}

.contact{
  text-align: center;
  margin-bottom: 10px;
}

.contact a{
  font-size: 1.5rem;
  color: $secondary-color;
  font-weight: bold;
  text-decoration: none;
  margin: 5px;
  transition: all .2s;
}
.contact .cv {
  font-size: 1.2rem;
}
.contact .email {
  display: block;
  font-size: .8rem;
}

footer{
  position: fixed;
  bottom: 0;
  background-color: rgba(15, 22, 38, .7)
}

@media (max-width: 767px) {ƒ
  .about,
  .navbar-nav {
    min-height: auto;
  }
  .navbar-nav {
    align-items: start;
  }
  .Navigation {
    flex-direction: row;
    margin-bottom: 20px;
  }
  button,
  .Navigation a {
    font-size: 1rem;
    margin: 5px;
    }
  .img{
    width: 100%;
    margin-top: -4rem;
  }
  .contact {
    text-align: left;
  }
  .animation {
    margin-left: 0px;
    padding-left: 0px;
  }
  .animation h1 {
    font-size: 40px;
  }
  .skills {
    margin-top: 1rem;
  }
  .skills ul li {
    font-size: .8rem;
  }
  .img-container {
    margin: 20px 0;
  }
  .workContainer {
    margin: 15px 10px;
  }
  .message {
    margin-top: 1rem;
    padding: 0;
  }
  /* projects */
  .projectContainer {
    margin-top: 1rem;
    }
  .projectContainer .container {
    height: auto;
    margin-bottom: 50px;
    padding-top: 20px;
    }
  .img-container {
    position: relative;
      height: 200px;
      left: 0px;
      top: 0px;
  }
  .projectInfo p {
    text-align: center;
  }
  .projectInfo p {
    padding: 10px;
    font-size: 1rem;
    width: 100%;
  }
  
  .projectInfo button {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
  }
  .projectContainer .titleContainer{
    margin-bottom: 0;
text-align: center;
}
.projectContainer .titleContainer h2{
 padding: 20px
}
}


.greetingArea {
  height: 100vh;
  margin-top: -80px;
  position: relative;
overflow: hidden;
  #greeting{
    position: absolute;
    height: 100px;
    width: 700px;
    top: calc(50% - 50px);
    right: calc(50% - 350px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      color: $light-color;
      text-align: center;
      text-transform: uppercase;
      span {
        color: $rose-color;
        font-weight: 600;
      }
    }
    button {
    margin: auto;
      color: $light-color;
      letter-spacing: 1px;
      font-weight: 200;
      border: 1px solid $light-color;
      font-size: 1.5rem;
      padding: 5px 15px;
      margin-top: 25px;
      transition: all .2s;
      &:hover {
        border-color: $rose-color;
        background-color: $rose-color;
        transform: scale(1.1);
        
      }
    }
  }
  #filter {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: $filter-color;
    opacity: .7;
  }
}