@import 'grid.css';
@import 'media.css';
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

:root {
  /* --light-color: #D1D7E0;
  --complimentary-color: #BEA5A9CE;
  --secondary-color: #E64398;
  --complimentary-color: #D83F87;
  --background-color: #B39BC8;
  --dark-color: #2A1B3D; */
  --light-color: #A4B3B6;
  --complimentary-color: #8265A6;
  --secondary-color: #D83F87;
  --background-color: #2A1B3D;
  --dark-color: #44318D;
  /* --light-color: #D1D7E0;
  --complimentary-color: #BEA5A9CE;
  --secondary-color: #950740;
  --complimentary-color: #C3073F;
  --background-color: #1A1A1D;
  --dark-color: #4E4E50; */
  /* --light-color: #D1D7E0;
  --complimentary-color: #BEA5A9CE;
  --secondary-color: #802BB1;
  --complimentary-color: #564F6F;
  --background-color: #2D283E;
  --dark-color: #4C495D; */
}

body h1 {
  text-transform: uppercase;
}

.activeLangue {
  text-shadow: 1px 1px 2px pink;
}
.section{
  padding: 0 20px;
}

.navbar {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.Navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all .3s;
}
.buttons {
  display: flex;
  align-items: center;
}

button,
.Navigation a {
  color: var(--secondary-color);
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  margin: 10px 10px;
  text-decoration: none;
  transition: all .3s;
}
button {
  background: none;
  border: none;
  cursor: pointer;
  margin: 10px 0;
  font-size: 1rem;
  border-right: 1px solid var(--secondary-color);
}
button:last-child {
  border-right: none;
}
button:focus{
  outline: none;
}

.Navigation a:hover {
  color: var(--complimentary-color);
}
.Navigation .active-link{
  color: var(--light-color);
}
.about{
  min-height: calc(100vh - 20px);
}

.devTools {
  margin-top: 4rem;
}
.about ul {
  list-style-type: none;
  display: flex;
  width: 40%;
  padding-left: 0;
}
.about ul li {
  margin: 5px 10px;
  font-size: 2rem;
  font-weight: bold;
  color: var(--light-color)
}
.col-10 {
  border-left: 2px solid var(--complimentary-color);
  padding-left: 30px;
  min-height: 100vh;
}

.absolute{
  position: absolute;
  right: -5%;
  bottom: 0;
}
.img{
  width: 65%;
  z-index: 15;
  filter: drop-shadow(2px 4px 6px black);
  mix-blend-mode: luminosity;
  opacity: .5;
}

.animation {
  margin-top: 25px;
  margin-left: -80px;
  padding-left: 20px;
  position: relative;
  background-color: transparent;
  text-transform: uppercase;
}

.animation h1 {
  font-size: 80px;
  margin: 0;
  color: var(--secondary-color);
  transform: translateY(-600px);
  animation: 1.2s slideIn ease-in-out forwards 1s;
  z-index: 10;
  opacity: 0;
  position: relative;
}

.animation h1::before {
    content: '';
    width: 0%;
    height: 60px;
    background-color: var(--background-color);
    position: absolute;
    bottom: -10px;
    animation: 1s underline ease-in-out forwards 2s;
    mix-blend-mode: screen;
}

.overlay {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    opacity: 0;
    left: 0;
    right: 0;
    background-color: var(--background-color);
    transform: scale(.5);
    animation: .3s slideIn ease-in-out forwards, 1s skewBg ease-in-out;
}

@keyframes skewBg {
  0% {
    transform: scale(.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes underline {
  100% {
    width: 100%;
  }
}

@keyframes slideIn {
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

 .projects {
 grid-column-gap: 20px;
 grid-row-gap: 20px;
}
.projects .col-6 {
  text-align: center;
}
.projects img {
  width: 350px;
  filter: drop-shadow(1px 3px 4px var(--secondary-color));;
}
.contact{
  text-align: center;
  margin-bottom: 10px;
}
.contact a{
  font-size: 1.5rem;
  color: var(--secondary-color);
  font-weight: bold;
  text-decoration: none;
  margin: 5px;
  transition: all .2s;
}
button:hover,
.contact a:hover{
  text-shadow: 1px 1px 2px pink;
}

.contact .email {
  display: block;
  font-size: 1rem;
}
/* EDUCATION  */
.message {
  padding: 10px;
  margin: auto;
  width: 50%;
}
.message p {
  text-align: center;
}

.profPath{
  box-sizing: border-box;
  position: relative;
  margin-top: 50px;
  display: flex;
  text-align: center;
  padding-top: 20px;
  border-top: 0;
  vertical-align: middle;
}
.workContainer {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 25%;
  padding: 20px;
  border: 0;
  /* box-shadow: 1px 1px 1px 2px rgba(130, 101, 166, .5); */
  box-shadow: 1px 1px 1px 2px rgba(216, 63, 136, .5);
  position: relative;
  vertical-align: middle;
}
.next {
  justify-content: center;
}
.lightBox{
  background-color: var(--light-color);
  color: var(--background-color);
}
.darkBox{
  background-color: var(--complimentary-color);
  color: white;
}
.workContainer h2{
  margin-top: 0;
}
