@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

:root {
  --light-color: #F5F5F5;
  --secondary-color: #FF533D;
  --complimentary-color: #AB987A;
  --background-color: #0F1626;
  --dark-color: rgba(15, 22, 38, .7);
}

.logo-container {
  text-align: center;
  width: auto;
}
body h1 {
  text-transform: uppercase;
}

.activeLangue {
  color: var(--complimentary-color);
}

.navbar-nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.Navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all .3s;
}

.buttons {
  display: flex;
  align-items: center;
}

button,
.Navigation a {
  color: var(--secondary-color);
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  transition: all .3s;
}
button {
  background: none;
  border: none;
  cursor: pointer;
  margin: 10px 0;
  font-size: 1rem;
  border-right: 1px solid var(--secondary-color);
}
button:last-child {
  border-right: none;
}
button:focus{
  outline: none;
}

button:hover,
.contact a:hover,
.Navigation a:hover {
  color: var(--complimentary-color);
}
.Navigation .active-link{
  color: var(--light-color);
  text-shadow: 2px 2px 2px rgba(000, 000, 000, .8);
}
.about{
  min-height: calc(100vh - 20px);
}
.about,
.projects,
.education {
  position: relative;
}
.svgContainer {
  width: 40%;
  text-align: center;
}

.logoAnimated {
  width: 300px;
}

.svgContainer-mobile {
 position: absolute;
 top: -15%;
 right: 5%;
}
.svgContainer-mobile .logoAnimated {
  width: 70px;
  z-index: 100;
 }

.skills {
  margin-top: 4rem;
}

.skills ul li {
  color: var(--background-color);
}
.about ul {
  list-style-type: none;
  display: flex;
  width: 40%;
  padding-left: 0;
}
.about ul li {
  margin: 5px 10px;
  font-size: 2rem;
  font-weight: bold;
  color: var(--light-color)
}
.col-10 {
  border-left: 2px solid var(--complimentary-color);
  min-height: 100vh;
  padding: 0 20px;
}

.absolute{
  position: absolute;
  right: -5%;
  bottom: 0;
}
.img{
  width: 65%;
  z-index: 15;
  filter: drop-shadow(2px 4px 6px var(--dark-color));
  mix-blend-mode: luminosity;
  opacity: .5;
}

.animation {
  margin-top: 1em;
  margin-left: -80px;
  position: relative;
  background-color: transparent;
  text-transform: uppercase;
}

.animation h1 {
  font-size: 3.5em;
  margin: 0;
  color: var(--secondary-color);
  transform: translateY(-600px);
  animation: 1.2s slideIn ease-in-out forwards 1s;
  z-index: 10;
  opacity: 0;
  position: relative;
}

.contact{
  text-align: center;
  margin-bottom: 10px;
}

.contact a{
  font-size: 1.5rem;
  color: var(--secondary-color);
  font-weight: bold;
  text-decoration: none;
  margin: 5px;
  transition: all .2s;
}
.contact .cv {
  font-size: 1.2rem;
}
.contact .email {
  display: block;
  font-size: .8rem;
}

/* EDUCATION  */
.message p {
  text-align: center;
}

.profPath{
  box-sizing: border-box;
  position: relative;
  margin-top: 50px;
  text-align: center;
  padding-top: 20px;
  border-top: 0;
}
.workContainer {
  box-sizing: border-box;
  padding: 20px;
  border: 0;
  box-shadow: 1px 1px 1px 2px rgba(130, 101, 166, .5);
  box-shadow: 1px 1px 1px 2px var(--dark-color);
  position: relative;
}
.next {
  justify-content: center;
}
.lightBox{
  background-color: var(--light-color);
  color: var(--background-color);
}
.darkBox{
  background-color: var(--complimentary-color);
  color: white;
}
.workContainer h2{
  margin-top: 0;
}

.flex{
  display: flex;
  justify-content: left;
  margin: 10px;
}


@media (max-width: 800px) {
  .about,
  .navbar-nav {
    min-height: auto;
  }
  .navbar-nav {
    align-items: start;
  }
  .Navigation {
    flex-direction: row;
  }
  button,
  .Navigation a {
    font-size: .7rem;
    margin: 5px;
    }
  .img{
    width: 100%;
  }
  .contact {
    text-align: left;
  }
  .animation {
    margin-left: 0px;
    padding-left: 0px;
  }
  .animation h1 {
    font-size: 40px;
  }
  .skills {
    margin-top: 1rem;
  }
  .skills ul li {
    font-size: .8rem;
  }
  .img-container {
    margin: 20px 0;
  }
  .workContainer {
    margin: 15px 10px;
  }
}