@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import './variables/colors/_colors.scss';

.logo-container {
  text-align: center;
}

body {
  position: relative;
  background-color: $rose-dark;
}

h2,
h1,
button,
ul {
  letter-spacing: 1px;
  font-weight: 200;
}
section {
  padding: 50px 0;
}

header {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 100;
  transition: all 0.2s;
  &.active {
    background-color: $black-color;
    backdrop-filter: blur(10px);
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
    padding-left: 30px;
    flex-wrap: nowrap;
    .navigation {
      display: flex;
      align-items: center;
      transition: all 0.3s;
      a {
        color: $light-color;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 200;
        margin: 0 15px;
        letter-spacing: 1px;
        text-decoration: none;
        transition: all 0.2s;
        &:hover {
          color: $rose-color;
        }
      }
    }
  }
}

button {
  color: $light-color;
  background: none;
  border: none;
  cursor: pointer;
  margin: 10px 0;
  font-size: 1rem;
  border-right: 1px solid $light-color;
  &:last-child {
    border-right: none;
  }
  &:focus {
    outline: none;
  }
  &:hover,
  .contact a:hover,
  .Navigation a:hover {
    color: $rose-color;
  }
  &.activeLangue {
    color: $rose-color;
  }
}

.svgContainer-mobile {
  position: absolute;
  top: -15%;
  right: 5%;
}
.svgContainer-mobile .logoAnimated {
  width: 70px;
  z-index: 100;
}

.col-10 {
  border-left: 2px solid $complimentary-color;
  padding: 0 20px;
}

.absolute {
  position: absolute;
  right: -5%;
  bottom: 0;
}

footer {
  color: $light-color;
  p {
    margin-bottom: 0;
    padding: 10px 0;
    text-align: center;
  }
}

@import './modules/_contacts.scss';
@import './modules/_project.scss';
@import './modules/_education.scss';
@import './modules/_about.scss';
@import './modules/_greeting.scss';

@media (max-width: 792px) {
  h1 {
    font-size: 1.5rem;
  }
  header {
    .navbar {
      padding-right: 15px;
      padding-left: 15px;
      flex-wrap: nowrap;
      .navigation {
        a {
          font-size: 1 rem;
        }
      }
    }
  }
}
