section {
    padding: 50px 30px;
}

.container, %container {
    display: grid;
    position: relative;
    width: 100%;
    max-width: 350px;
    margin: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0px;
    // grid-gap: 15px;
    grid-row-gap: 0px;
    align-items: center;
    // 1 = 1, 2 3 4 5 6 = 2, 7 8 9 = 3, 10 11 12 = 4;
    & .col-1 {
        position: relative;
        grid-column: span 1;
        width: 100%;
    }
    & .col-2, .col-3, .col-4, .col-5, .col-6 {
        position: relative;
        grid-column: span 2;
        width: 100%;
    }
    & .col-7, .col-8, .col-9 {
        position: relative;
        grid-column: span 3;
        width: 100%;
    }
    & .col-10, .col-11, .col-12 {
        position: relative;
        grid-column: span 4;
        width: 100%;
    }
}

.container-fluid {
    @extend %container;
    max-width: 1800px;
}
