body {
  /* background: linear-gradient(90deg, var(--background-color) 50%, var(--dark-color) 50%); */
  margin: 0;
  background: var(--background-color);
  font-size: 1.2rem;
  font-family: 'Lora', serif;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}