body {
  margin: 0;
  background: var(--background-color);
  font-size: 1.2rem;
  font-family: 'Varela Round', sans-serif;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}