body {
  /* background: linear-gradient(90deg, #8860D0 50%, #C1C8E4 50%); */
  margin: 0;
  background: #E3AFBC;
  font-size: 1.2rem;
  font-family: 'Lora', serif;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}