.popup-window {
    & .mailchimp-container {
        & form {
            grid-template-columns: 1fr 1fr 1fr;
            & input[name="EMAIL"] {
                grid-column: span 2;
            }
        }
        & h2, p {
            grid-column: span 3;
        }
    }
}